/* .omg{
    margin-top:6rem;
} */
.a10{
    /* width:rem; */
         height:6.5rem;  
     /* width:100vw; */
     width:77rem;
      padding-top: 0.5rem;
      padding-bottom: 0.4rem;
      padding-left:2rem;
      margin-top: 7rem;

    

}
/* .h11,p11{
    margin-right:4rem;
} */
@media(min-width:578px) and (max-width:900px){
    .a10{
      width:46rem;
      height:1rem;
      font-size:0.5rem;
   } 
}
.h99{
    color:rgb(54, 51, 51);
    letter-spacing: 0.25rem;
    /* margin-bottom: 6rem; */
    margin-top:-0.05rem;
    
}
  